<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

<!-- 어노테이션 기반 설정 사용 -->
<context:annotation-config/>
<!-- 컴포넌트 자동 등록 사용
컴포넌트를 
com.example.hellospring.controllers 패키지에서 찾아라 -->
<context:component-scan base-package="com.example.hellospring.controllers"/>

<!-- Non Annotation 방식 객체를 수동으로 등록 -->
<!-- NonAnnotationController naController=new NonAnnotationController(); -->
<!-- bean id="naController" class="com.example.hellospring.controllers.NonAnnotationController"/>
<bean id="urlMapping"
class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
<property name="mappings">
<props>
<propkey="/na">naController</props>
</property>
</bean-->
</beans>
